/partie2/nbproject/private/
/partie3/nbproject/private/
/partie4/nbproject/private/
/partie5/nbproject/private/
/partie6/nbproject/private/
/partie7/nbproject/private/
/partie8/nbproject/private/
/partie9/nbproject/private/
/partie11/nbproject/private/